#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_CARPO_LEFT
	bool "carpo_left"
	depends on SOC_NRF52840_QIAA

config BOARD_CARPO_RIGHT
	bool "carpo_right"
	depends on SOC_NRF52840_QIAA